h5py
wordcloud
hyperopt
numpy
matplotlib
imageio
Pillow
python_Levenshtein
scikit_learn
nltk
torchcontrib
termcolor
scipy
pandas
tqdm
tensorboard
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
transformers
gym
lmdb
PyYAML
easydict
gdown
torch
pytorch_transformers
git+https://github.com/gqkc/CLOSURE.git
torchvision